.footer {
  background-color: #343a40;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  z-index: 10000;

  .texto {
    display: grid;
    color: white;
    .instituto {
      font-size: 22px;
    }
  }
}
