<footer class="footer">
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-md-2 col-sm-1 col-xs-12 ufg-logo">
        <img src="/assets/logo-ufg.png" alt="UFG">
      </div>
      <div class="col-md-3 col-sm-2 col-xs-12 fabrica-logo">
        <img src="/assets/logo-fabrica.png" alt="FS">
      </div>
      <div class="col-md-7 col-sm-8 texto">
        <span class="instituto">Instituto de Informática - UFG</span>
        <span class="endereco">Alameda Palmeiras, Quadra D, Campus Samambaia</span>
        <span class="cep">CEP 74690-900 - Goiânia - GO</span>
        <span class="fone">Fone: (62) 3521-1181</span>
      </div>
    </div>
  </div>
</footer>
