.projetos {
  padding-left: 210px;

  li {
    list-style: none;
  }
  .title {
    padding: 20px;
    margin-left: 1.5em;
    font-size: 18px;
  }

  .empty-data{
    text-align: center;
    color: #999999;
  }
}
