<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul id="sidemenu" class="sidebar-nav">
      <li>
        <a routerLink="/gestao/portarias" routerLinkActivate="active">
            <span class="sidebar-icon">
              <i class="fa fa-file"></i>
            </span>
          <span class="sidebar-title">Portarias</span>
        </a>
      </li>
      <li>
        <a routerLink="/gestao/designados" routerLinkActivate="active">
            <span class="sidebar-icon">
              <i class="fa fa-users"></i>
            </span>
          <span class="sidebar-title">Designados</span>
        </a>
      </li>
      <li>
        <a routerLink="/gestao/responsabilidades" routerLinkActivate="active">
            <span class="sidebar-icon">
              <i class="fa fa-id-badge"></i>
            </span>
          <span class="sidebar-title">Responsabilidades</span>
        </a>
      </li>
    </ul>
  </div>
</div>
