<div id="wrapper">
  <div id="sidebar-wrapper">
    <!-- <aside id="sidebar"> -->
      <ul id="sidemenu" class="sidebar-nav">
        <li>
          <a routerLink="/extensao/dashboard" routerLinkActivate="activate">
            <span class="sidebar-icon">
              <i class="fa fa-dashboard"></i>
            </span>
            <span class="sidebar-title">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/extensao/programas" routerLinkActivate="activate">
            <span class="sidebar-icon">
              <i class="fa fa-files-o"></i>
            </span>
            <span class="sidebar-title">Programas</span>
          </a>
        </li>
        <li>
          <a routerLink="/extensao/projetos" routerLinkActivate="activate">
            <span class="sidebar-icon">
              <i class="fa fa-files-o"></i>
            </span>
            <span class="sidebar-title">Projetos</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sidebar-icon">
              <i class="fa fa-search"></i>
            </span>
            <span class="sidebar-title">Busca Avançada</span>
          </a>
        </li>
      </ul>
    <!-- </aside> -->
  </div>
</div>
